version: "3.9"

services:

  backend:
    build: ./backend
    container_name: mathovercome-backend
  
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: mathovercome-frontend
    depends_on:
      - backend
    ports:
      - "80:3000"
