<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>テスト問題一覧</title>
</head>
<body>
	<h1>テストセッション　問題一覧</h1>
	<div th:each="sp:${sessionProblems}">
		<div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
			<p>
				<strong>問題ID:</strong>
				<span th:text="${sp.problem.id}"></span>
			</p>
			<p>
				<strong>問題:</strong>
				<span th:text=${sp.problem.question}></span>	
			</p>
			<form th:action="@{'/session/'+${sp.testSession.id}+
							'/problem/'+${sp.id}+'/answer'}"
							method="post">
				<div th:each="choice:${sp.problem.choices}">
					<label>
						<input type="radio" name="selectedChoiceId" th:value="${choice.id}" 
						th:checked="${sp.selectedChoiceId != null 
									and sp.selectedChoiceId.id == choice.id}"/>
					<span th:text="${choice.choiceText}"></span>
					</label>
				</div>
				<button type="submit">解答する</button>
			</form>
			<!-- 既に解答済みの場合、正誤を表示 -->
			<div th:if="${sp.isCorrect != null}">
				<p th:text="${sp.isCorrect ? '正解！' : '不正解'}
				" style="color:blue;"></p>
			</div>
		</div>
	</div>
</body>
</html>